<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpack - Express generator</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <% for (const path of css) { -%>
  <link rel="stylesheet" href="<%= path %>">
  <% } -%>
</head>

<body>
  <h1>This page is created by <a href="<%= homepage %>">webpack-express-generator</a></h1>
  <% for (const path of js) { -%>
  <script async src="<%= path %>"></script>
  <% } -%>
</body>

</html>