$family-sans-serif: 'Nunito',
sans-serif;

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito/Nunito-400.woff2) format('woff2'),
    url(../fonts/Nunito/Nunito-400.woff) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Nunito/Nunito-700.woff2) format('woff2'),
    url(../fonts/Nunito/Nunito-700.woff) format('woff');
}